cython 
numpy 
scipy
matplotlib
scikit-image
h5py
pydot
dask
cloudpickle
toolz
blessings
progressbar2
scikit-learn
pyparsing==2.1.1
jupyter
tensorflow
https://github.com/Theano/Theano/zipball/master
https://github.com/fchollet/keras/zipball/master
